.chat-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.msg-stream {
    flex-grow: 1;
    overflow: auto;
    padding-left: 20px; /* so that the callout triangle could show */
    padding-right: 20px;
}

.chat-input {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    height: 2em;
    margin-top: 5px;
}

.msg-row {
    display: flex;
    margin-bottom: 10px;
}
.msg-row.right {
    flex-direction: row-reverse;
}

/* http://cssdeck.com/labs/bv45bh6p */
div.callout {
    display: inline-block;

	background-color: #444;
	position: relative;
	color: #ccc;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #333;
	text-shadow: 0 0 1px #000;
}

.callout::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
    border-bottom-width: 0.4em;
    border-top-width: 0.4em;
	position: absolute;
    top: 0px;
}
.callout.right::before {
	right: -20px;
	border-left: 10px solid #444;
}

.callout.left::before {
	left: -20px;
	border-right: 10px solid #444;
}

.callout.left.sending::before {
}

.noti {
    justify-content: center;
}