body {
    font-family: Arial, Helvetica, sans-serif;
}

textarea.answer {
    width: 100%;
}

#questions {
    height: 10em;
    overflow: auto;
}


html, body, .fullheight {
    height: 100%;
}

@media (min-width: 576px/* bootstrap's "small" breakpoint */) {
    .flex {
        display: flex;
        flex-direction: column;
    }
    .stretch {
        flex-grow: 1;
    }
    #chat-panel {
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
}

@media (max-width: 576px) {
    .row {
        flex-direction: column;
    }
    .nogrow {
        flex-grow: 0;
    }
    #chat-panel {
        flex-grow: 1;
    }
}

.relative { position: relative; }
.bottom {
    position: absolute;
    bottom: 0px;
}